.ques-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
}

.ques-header{
    font-size: 25px;
    font-weight: 800;
    color:#920d0d;

}

.card{
    box-shadow: 4px 4px 1px 2px #aaa7a7;
    background-color: none;
    opacity: 0.7;
}
.option{
    margin: 2.5%;
    width:75%;
    background-color: rgba(224, 218, 211, 0.979);
    color:#920d0d;
    font-size:16px;
    font-weight:600;
    border: 1px solid #920d0d !important;
}

.question{
    font-size: 20px;
    font-weight: 00;
    margin-bottom: 5%;
    color:#920d0d;

}

.btn-container{
    display: inline-block;
    margin:3%
}

.next-btn{
    position:relative;
    /* float:right; */
    /* margin-right:-50%; */
    width:auto;
    background-color: #920d0d;
    border: #920d0d;

}

.next-btn:hover{
    background-color: #ca1010;
}

.previous-btn{
    position:relative;
    float:left;
    margin-left:-40%
}

.home{
    margin:1%
}

.home>svg{
    color:#920d0d
}

.disabled{
    background-color: rgba(224, 218, 211, 0.979) !important;
    color:#920d0d !important;
    font-weight: 500;
}



.selected{
    background-color: #ff6347 !important;
    color:white !important

}

.correct{
    background-color: green !important;
    color:white !important
}

.start-quiz-btn{
    border:2px solid #920d0d !important;
    color:#920d0d !important
}

.start-quiz-btn:hover{
    color:#706c6c !important

}

@media only screen and (max-width: 600px)  {

    .ques-container{
        width:100%
    }
    .card{
        width:85% !important
    }
}